<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class=""><a href="#/incidents/add/stage" aria-controls="home" role="tab" data-toggle="tab"><strong>STAGE</strong></a></li>
        <li role="presentation" class=""><a href="#/incidents/add/prod" aria-controls="profile" role="tab" data-toggle="tab"><strong>PROD</strong></a></li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <div incident-form action="'add'" isStage="isStage"></div>
        </div>
    </div>

</div>
