  <div class="alert alert-{{cssClass}} alert-dismissible" role="alert" ng-show="infoMessage != ''">
     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <custom-compile source="infoMessage"></custom-compile>
</div>
<div class="col-md-12">
<h1>Manage Blog Posts <a href="./manage/new" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Create New Post</a></h1>
  <input type="text" ng-model="query" placeholder="Filter through Title or Author" class="form-control ">
      <br/>
      <div class="posts" ng-show="restCall">
        <!-- loading spinner -->
        <div class="spinner" >
          <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>
          <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>
          <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
          </div>
        </div>
      </div>
  <table class="table table-striped techne-table" ng-show="!restCall">
    <thead>
    <tr>
      <th>
        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
          Title
        </a>
        <span ng-show="sortType == 'name' && sortReverse" class="caret"></span>
        <span ng-show="sortType == 'name' && !sortReverse" style="transform: rotate(180deg)" class="caret"></span>
      </th>
      <th>
        <a href="#" ng-click="sortType = 'published'; sortReverse = !sortReverse">
          Published
          <span ng-show="sortType == 'published' && sortReverse" class="caret"></span>
          <span ng-show="sortType == 'published' && !sortReverse" style="transform: rotate(180deg)" class="caret"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortType = 'mixins.post.author'; sortReverse = !sortReverse">
          Author
          <span ng-show="sortType == 'mixins.post.author' && sortReverse" class="caret"></span>
          <span ng-show="sortType == 'mixins.post.author' && !sortReverse" style="transform: rotate(180deg)" class="caret"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortType = 'mixins.post.audience'; sortReverse = !sortReverse">
          Visibility
          <span ng-show="sortType == 'mixins.post.audience' && sortReverse" class="caret"></span>
          <span ng-show="sortType == 'mixins.post.audience' && !sortReverse" style="transform: rotate(180deg)" class="caret"></span>
        </a>
      </th>
      <th>
        <a href="#" ng-click="sortType = 'mixins.post.tag'; sortReverse = !sortReverse">
          Tag
          <span ng-show="sortType == 'mixins.post.tag' && sortReverse" class="caret"></span>
          <span ng-show="sortType == 'mixins.post.tag' && !sortReverse" style="transform: rotate(180deg)" class="caret"></span>
        </a>
      </th>
      <th><a href="#" ng-click="sortType = 'mixins.post.date'; sortReverse = !sortReverse">
          Date
          <span ng-show="sortType == 'mixins.post.date' && sortReverse" class="caret"></span>
          <span ng-show="sortType == 'mixins.post.date' && !sortReverse" style="transform: rotate(180deg)" class="caret"></span>
        </a>
      </th>
      <th><a href="./manage/new"><i class="glyphicon glyphicon-plus"></i></a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="post in posts | filter:search | orderBy:sortType:sortReverse" ng-show="post.id">
      <td data-th="Title"><a href="./manage/edit/{{post.id}}">{{post.name}}</a></td>
      <td data-th="Published">{{post.published}}</td>
      <td data-th="Author">{{post.mixins.post.author}}</td>
      <td data-th="Visibility">{{post.mixins.post.audience}}</td>
      <td data-th="Tag">{{post.mixins.post.tag}}</td>
      <td data-th="Date">{{post.mixins.post.date | date: 'short' }}</td>
      <td data-th="Edit">
        <a href="./manage/edit/{{post.id}}"><i class="glyphicon glyphicon-pencil"></i></a>
      </td>
    </tr>
    </tbody>
  </table>


</div>
