
Migration product service <br/>
</hr>

Source URL: <input type="text" name="urlSource" ng-model="urlSource"><br>
Source tenant: <input type="text" name="tenantSource" ng-model="tenantSource"><br>

Destination URL: <input type="text" name="urlDestination" ng-model="urlDestination"><br>
Source tenant: <input type="text" name="tenantDestination" ng-model="tenantDestination"><br>

Source API Key: <input type="text" name="apiKey_source" ng-model="apiKey_source"><br>
Destination API Key: <input type="text" name="apiKey_destination" ng-model="apiKey_destination"><br>

<a class="btn btn-default" ng-click="migrate()" role="button">Migrate</a>

<hr>
<div ng-show='totalNumber != undefined'>
Total to migrate : {{ totalNumber }} <br>
Success: {{ successNumber }} <br>
Errors:  {{ errorNumber }} <br>
<br><br>
<div ng-show='failedObjects.length > 0'>
  Some of the objects hasnt been migrated cause of errors.. Do you want to try again? (Only with failed ones)
  <a class="btn btn-default" ng-click="AddFailedOnes()" role="button">Migrate</a>
</div>
</div>

Migration staff members <br/>
</hr>

Source URL: <input type="text" name="staffUrlSource" ng-model="staffUrlSource"><br>
Source tenant: <input type="text" name="staffTenantSource" ng-model="staffTenantSource"><br>

Destination URL: <input type="text" name="staffUrlDestination" ng-model="staffUrlDestination"><br>
Source tenant: <input type="text" name="staffTenantDestination" ng-model="staffTenantDestination"><br>

Source API Key: <input type="text" name="staffApiKey_source" ng-model="staffApiKey_source"><br>
Destination API Key: <input type="text" name="staffApiKey_destination" ng-model="staffApiKey_destination"><br>

<a class="btn btn-default" ng-click="migrateStaff()" role="button">Migrate staff</a>

<div ng-show='totalNumberStuff != undefined'>
Total to migrate : {{ totalNumberStuff }} <br>
Success: {{ successNumberStuff }} <br>
Errors:  {{ errorNumberStuff }} <br>
<br><br>
<div ng-show='failedObjectsStuff.length > 0'>
  Some of the objects hasnt been migrated cause of errors.. Do you want to try again? (Only with failed ones)
  <a class="btn btn-default" ng-click="AddFailedStuffOnes()" role="button">Migrate staff</a>
</div>
</div>
