// devportal specific variables
@import '../settings/_variables';

.seperator {
  margin: 40px 0 60px;
  position: relative;

  .circle {
    position: relative;
    z-index: 2;
    width: 40px;
    height: 40px;
    border: none;
    margin: 0 auto -40px;
    padding: 0;
    background: @blue-solitude;
    display: block;

    .glyphicon {
      font-size: 12px;
      position: absolute;
      top: 13px;
      left: 14px;
      color: @gray-oslo;
      font-weight: 500;
    }

    .glyphicon-minus {
      color: #fff;
      display: none;
      left: 13px;
    }
  }

  .open-circle {
    background: @gray-oslo;
  }

  .expand-collapse {
    display: none;
    background: @blue-geyser;
    position: relative;
    z-index: 1;
    margin-top: 0;
    border-radius: 0;
    padding: 30px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 0;
    border-top: 1px solid @gray-gallery;
  }

  .caption {
    text-align: center;
    margin-top: 25px;
    display: block;
    font-weight: 200;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    top: 20px;
  }
}

.expand-collapse-controls {
  span {
    cursor: pointer;
    color: @blue-lochmara;
  }

  span:hover {
    color: @blue-bahama;
    text-decoration: underline;
  }
}
